# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
dist-ssr/
*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git/
.gitignore

# Docker specific
docker-compose.yml
Dockerfile
.dockerignore

# Environment variables (Crucial for security)
.env
.env.production
.env.local
.env.*.local

# others